{% include "header.html" %}

    <div class="container">
		<div class="jumbotron">
			<h1>Code Fight: Category Elimination!</h1>
			<p>Wikipedia's data model has articles and categories, with a
			many-to-many relationship between the two. A recent project called
			for removing categories that added little or no information.</p>

			<p>The challenge is to minimize the number of category-article
			pairs across several sample datasets by removing whole categories
			without leaving any articles sans category.</p>

		</div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
			<h1>Leaderboard</h1>

			{% for file, scores in runs.items() %}
			<h2><a href="/sources/{{ files[file]["id"] }}"><span class="glyphicon glyphicon-download"></span></a>
				{{ file }}
				<small>{{ files[file]["descr"] }}</small>
			</h2>
				<table class="table table-striped">
					<tr>
						<th>Username</th>
						<th>Date</th>
						<th>Pairs Removed</th>
						<th>Categories Removed</th>
						<th>Super Categories</th>
						<th>Merges</th>
					</tr>
				{% for score in scores %}
				<tr>
					<td class="user">{{ score["user"] }}</td>
					<td class="dt_added">{{ score["dt_added"] }}</td>
					<td class="pairs">{{ score["pairs"] }}</td>
					<td class="cats">{{ score["cats"] }}</td>
					<td class="supercats">{{ score["supercats"] }}</td>
					<td class="merges">{{ score["merges"] }}</td>
				</tr>
				{% endfor %}
				</table>

			{% endfor %}
       </div>
      </div>
  </div>

 {% include "footer.html" %}
